/* スタイルシートの修正 */
body {
    margin: 0;
    padding: 0;
    background-image: url('../graphic/lost.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #d4af37; /* ゴールド色 */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* 背景を暗くする */
}

.menu {
    margin-top: 20px;
}

.menu a {
    display: block;
    font-size: 2em;
    margin: 10px 0;
    color: #d4af37;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

.menu a:hover {
    color: #fff;
}

.audio-control {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.logout {
    margin-top: 20px;
    
}

.logout a {

    display: block;
    font-size: 2em;
    margin: 10px 0;
    color: #d4af37;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

.logout a:hover {
    color: #fff;
}


